<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if .Page.IsHome }}
    {{ .Site.Title }}
    {{ else }}
    CFRL - {{ .Page.Title }}
    {{ end }}
  </title>
  <meta name="keywords"
    content="CFRL,Angola,Kunene,Cunene,Kuando Kubango,Cuando Cubango,Construção,Fornecimentos,Reabilitação">
  <meta name="description" content="CFRL - Sociedade de Construção, Fornecimentos e Reabilitação, Lda.">
  <link rel="icon" href="/media/base/favicon.ico" type="image/x-icon" />
  {{ if .Site.Params.GoogleAnalyticsID }}
  {{ partial "analytics-gtag.html" . }}
  {{ end }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
</head>
{{ $currentPage := . }}

<body class="d-flex flex-column h-100">
  <nav id="mainHeader" class="navbar sticky-sm-top shadow">
    <header class="row w-100 mx-1 justify-content-center justify-content-sm-around">
      <div class="col col-auto d-flex align-items-center ps-3 pe-5">
        <a href="/">
          <img src="/media/base/logo.svg" alt="Logótipo da CFRL" />
        </a>
      </div>
      <div class="col d-sm-flex align-items-end flex-column text-center text-sm-end justify-content-sm-end">
        <div class="my-3 my-sm-0">
          <small>
            <em>
              <p class="lh-sm mb-1">
                "Para nós construir e edificar é mais do que uma obra: é estar próximo do cliente,<br
                  class="d-none d-md-flex" />
                alargar horizontes, conquistar território e a confiança de quem servimos."
              </p>
            </em>
          </small>
        </div>
        <div class="mt-auto">
          <div class="text-nowrap">
            <a class="btn btn-outline-primary" href="mailto:geral@cfrl.co.ao">
              <i class="bi bi-envelope"></i>
              geral@cfrl.co.ao
            </a>
            <a class="btn btn-outline-primary" href="tel://00244934356811">
              <i class="bi bi-telephone"></i>
              +244 934 356 811
            </a>
          </div>
        </div>
      </div>
    </header>
  </nav>

  <div class="container-fluid flex-shrink-0">
    <div class="row">
      <div class="col col-sm-auto p-2 col-12 mt-3">
        <nav class="d-flex flex-column flex-shrink-0">
          <ul class="nav nav-pills flex-column mb-auto">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              {{ if not ($currentPage.IsMenuCurrent "main" .) }}
              <a class="nav-link" href="{{ .Page.Permalink }}">
                <i class="bi bi-{{ .Page.Param "icon" }} me-2"></i>
                {{ .Title }}
              </a>
            {{ else }}
            <a class="nav-link active" href="{{ .Page.Permalink }}" aria-current="page">
              <i class="bi bi-{{ .Page.Param "icon" }} me-2"></i>
              {{ .Title }}
            </a>
            {{ end }}
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div id="mainContent" class="col mt-4 me-2">
        <h1 id="contentTitle" class="rounded d-none d-sm-block px-3 py-2 fs-2 fw-bold mb-3">
          <i class="bi bi-{{ .Page.Param "icon" }} me-2"></i>
          {{ .Page.Title }}
        </h1>
        <article class="px-0 px-sm-3">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
  <footer id="mainFooter" class="footer mt-auto py-2">
    <div class="container text-center">
      <small class="text-muted">
        Todos os direitos reservados &copy; 2014. CFRL - Sociedade de Construção, Fornecimentos e Reabilitação, Lda.
      </small>
    </div>
  </footer>
  <!-- Back to top button -->
  <button type="button" id="btn-back-to-top" class="btn btn-floating btn-lg">
    <i class="bi bi-arrow-up-circle"></i>
  </button>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    let mybutton = document.getElementById("btn-back-to-top");
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    mybutton.addEventListener("click", function () {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    });
  </script>
</body>

</html>