:root {
  --my-primary-color: hsl(18.8,100%,50%);
  --my-primary-color-darker: hsl(18.8,100%,40%);
  --my-primary-color-lighter: hsl(18.8,100%,60%);
  --my-primary-color-lighter-rgb: 255,115,51;
}

body {
  background-image: url(../media/base/background_faded.jpg);
  background-repeat: round;
  overflow-y: scroll;
}

#mainHeader {
  background: linear-gradient(4deg, #f6f6f6 60%, var(--my-primary-color-lighter));
}

#mainHeader * img {
  max-height: 6em !important;
}

.text-primary {
  color: var(--my-primary-color) !important;
}

.nav-pills .nav-link {
  font-weight: bold;
}

.nav-pills .nav-link.active, h1 {
  color: #ffffff !important;
  background-color: var(--my-primary-color) !important;
}

a, .nav-link, .link-primary {
  color: var(--my-primary-color) !important;
}

a:focus, a:hover {
  outline-color: var(--my-primary-color-lighter) !important;
  outline-style: solid;
  outline-width: 0.1em;
}

a:hover, a:focus, .link-primary:hover, .link-primary:focus, .nav-link:hover, .nav-link:focus  {
  color: var(--my-primary-color-darker) !important;
}

.btn-outline-primary {
  border-color: var(--my-primary-color-darker) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  color: #ffffff !important;
  background-color: var(--my-primary-color) !important;
  --bs-btn-focus-shadow-rgb: var(--my-primary-color-lighter-rgb) !important;
}

#mainFooter > div {
  border-top: 0.05em solid var(--my-primary-color) !important;
}

#mainContent article h2 {
  font-size: 1.4em;
  border-bottom: 0.05em dotted var(--my-primary-color-lighter);
  margin-top: 1.1em;
}

#mainContent article h3 {
  font-size: 1.15em;
  border-bottom: 0.05em dotted var(--my-primary-color-lighter);
  margin-top: 1.1em;
}

#mainContent article ul {
  padding-left: 1em;
}

#btn-back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
  background-color: var(--my-primary-color);
}