.navbar, #servicos {
    background-image: url("../media/base/background_faded.jpg");
    background-size: cover;
}

.navbar-brand img {
    max-height: 6.5em;
}

.tint {
    background-color: #FFFDF8;
}

.tinter {
    background-color: #FFF7EE;
}

section div h1 {
    position: relative;
}

section div h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 140px;
    height: 1px;
    background: #888;
    bottom: 1px;
    left: calc(50% - 70px);
}

section div h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--bs-primary);
    bottom: 0;
    left: calc(50% - 30px);
}

.shssContainer {
    position: relative;
    margin: auto;
}
.shssSlide {
    display: none;
    margin: 0;
    padding: 0;    
}
.shssPrevious, .shssNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    color: white !important;
}
.shssPrevious:focus, .shssPrevious:hover, .shssNext:focus, .shssNext:hover {
    outline: none !important;
}
.shssNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.shssPrevious:hover, .shssNext:hover {
    background-color: rgba(0,0,0,0.8);
}
.shssSlide img {
    width: 100%;
    border-radius: 0.4em;
}
.shssSlide figcaption {
    font-size: 0.8em;
    margin-top: 0.3em;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white !important;
}
.shssDots {
    margin-top: 0.6em;
    text-align: center;
}
.shssDots span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.shssSlide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.card-header {
    font-size: 1.1em;
}

.card-header i.bi {
    margin-right: 0.2em;
    font-size: 1.3em;
}

#contactos > div > div > div > div > i {
    font-size: 20px;
    color: white;
    float: left;
    width: 44px;
    height: 44px;
    background: var(--bs-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#contactos > div > div > div > div > div {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
}

#contactos iframe {
    border: 0;
    width: 100%;
    height: 290px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
    color: white;
    background-color: var(--bs-primary);
}
