<div id="shssContainer{{ $.Ordinal | safeHTML }}" class="shssContainer">
  {{ .Inner }}
  <a class="shssPrevious" onclick="shssSlider{{ $.Ordinal | safeJS }}.advance(-1)">&#10094;</a>
  <a class="shssNext" onclick="shssSlider{{ $.Ordinal | safeJS }}.advance(1)">&#10095;</a>
</div>
<div id="shssDots{{ $.Ordinal | safeHTML }}" class="shssDots">
  {{ range seq (.Page.Scratch.Get "shssPictureCount") }}
    <span onclick="shssSlider{{ $.Ordinal | safeJS }}.show({{ . | safeJS }})"></span>
  {{ end }}
</div>
{{ .Page.Scratch.Delete "shssPictureCount" }}
<script>
  var shssSlider{{ $.Ordinal | safeJS }} = {
    domSlides: document.getElementById('shssContainer{{ $.Ordinal | safeJS }}').getElementsByTagName('figure'),
    domDots: document.getElementById('shssDots{{ $.Ordinal | safeJS }}').getElementsByTagName('span'),
    currentIndex: 0,
    timeout: null,
    advance: function(amount) {
      this.show(this.currentIndex + amount);
    },
    show: function(index) {
      clearTimeout(this.timeout);

      if (index === undefined) {
        this.currentIndex++;
      }
      else {
        this.currentIndex = index;
      }
      if (this.currentIndex > this.domSlides.length) {
        this.currentIndex = 1;
      } else if (this.currentIndex < 1) {
        this.currentIndex = this.domSlides.length;
      }

      var i;
      for (i = 0; i < this.domSlides.length; i++) {
        if (i + 1 == this.currentIndex) {
          this.domSlides[i].style.display = 'block';
          this.domDots[i].style.backgroundColor = '#ff5000';
        } else {
          this.domSlides[i].style.display = 'none';
          this.domDots[i].style.backgroundColor = '#bbb';
        }
      }

      this.timeout = setTimeout(function() {
        this.show();
      }.bind(this), {{ mul 1000.0 (float (.Get "interval" | default "3")) }});
    }
  }
  shssSlider{{ $.Ordinal | safeJS }}.show();
</script>

<style>
  * {
    box-sizing: border-box;
  }
  .shssContainer {
    position: relative;
    margin: auto;
  }
  .shssSlide {
    display: none;
    margin: 0;
    padding: 0;
  }
  .shssPrevious, .shssNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
  }
  .shssNext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .shssPrevious:hover, .shssNext:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .shssSlide img {
    width: 100%;
  }
  .shssSlide figcaption {
    font-size: 0.7em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .shssDots {
    margin-top: 0.3em;
    text-align: center;
  }
  .shssDots span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .shssSlide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
</style>